@charset "UTF-8";
/*
Paleta de cores:
Verde: #49a09d
Lilás: #5f2c82
*/

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;   
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

/*Declarações Retrato*/
@media screen and (orientation: portrait) {
    section#login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
        transition: width .3s, height .3s;
        transition-timing-function: ease;

    }

    section#login > div#imagem{
        background: #5f2c82 url(../Imagens/escada.jpg) no-repeat;
        height: 200px;
        background-size: cover;
        background-position: center;
        display: block;
    }

    section#login > div#formulario{
        display: block;
        padding: 10px;
    }
}

/*Declarações Paisagem*/
@media screen and (orientation: landscape) {
    body{
        background-color: #49a09d;
    }
    section#login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 500px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
        transition: width .3s, height .3s;
        transition-timing-function: ease;

    }

    section#login > div#imagem{
        background: #49a09d url(../Imagens/escada.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
        padding: 10px;
    }
}